
<launch>
  

  
  
  <node pkg="ar_pose_stereo" type="ar_pose_stereo" name="ar_pose_stereo_node"
    output="screen">
	 	<param name="camera" value="/pylon_camera_left_node" />
	 	<param name="roi" value="/ar_pose/roi/camera_info" />
	 </node>
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_cam_left"
    args="0 0 0.5 0 0 -1.570796327 world pylon_camera_left_node 100" />

  <node pkg="tf" type="static_transform_publisher" name="left_to_right"
    args="0.1 0 0 0 0 0 left right 100" />

	<node pkg="tf" type="static_transform_publisher" name="world_to_pallet_model"
	args="0.0 0 0 0 0 1.570796327 world pallet_model 100" />


</launch>
